# Hardware

hardware/*.000
hardware/*.bak
hardware/*.bck
hardware/*.kicad_pcb-bak
hardware/*.kicad_sch-bak
hardware/*-backups
hardware/*.kicad_prl
hardware/*.sch-bak
hardware/*~
hardware/~*.lck
hardware/_autosave-*
hardware/*.tmp
hardware/*-save.pro
hardware/*-save.kicad_pcb
hardware/fp-info-cache
hardware/*.net
hardware/*.dsn
hardware/*.ses
hardware/*.xml
hardware/*.csv
hardware/#auto_saved_files#

# Firmware

firmware/build
firmware/_*

# Application

app/*.hex
app/*.bin
app/*.dbg
app/*.lst
app/*.lst.short
app/*.mac
app/*.opl_*
app/*.opk
app/*.rom