[submodule "hardware/lib/kicad-library"]
	path = hardware/lib/kicad-library
	url = https://github.com/arturo182/kicad-library.git
[submodule "hardware/lib/kicad-modules"]
	path = hardware/lib/kicad-modules
	url = https://github.com/arturo182/kicad-modules.git
[submodule "firmware/lib/pico-sdk"]
	path = firmware/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "firmware/lib/picotool"]
	path = firmware/lib/picotool
	url = https://github.com/raspberrypi/picotool.git
[submodule "app/toolchain/Psiora"]
	path = app/toolchain/Psiora
	url = https://github.com/James-Livesey/Psiora.git
[submodule "app/toolchain/psion-org2-assembler"]
	path = app/toolchain/psion-org2-assembler
	url = https://github.com/James-Livesey/psion-org2-assembler.git
